body {
    font-family: 'Inika', serif;
}

.h1 {
    margin: 25px 0;
    font-size: 40px;
    font-weight: 700;
}

.line {
    border-bottom: 5px solid #3E45E8;
    width: 402px;
    margin: 20px 0;
}

.header {
    text-align: center;
    font-size: 48px;
    letter-spacing: 0.1em;
    font-family: 'M PLUS 1', sans-serif;
    padding-top: 25px;
    padding-bottom: 25px;
}

.span-yellow {
    color: #E8C23E;
}

.span-blue {
    color: #3E45E8;
}

.banner {
    box-sizing: border-box;
    background-image: url("../img/image_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 803px;
    color: white;
    padding-top: 206px;
    padding-left: 80px;
}

.banner-content {
    box-sizing: border-box;
    background-image: url("../img/flag.png");
    background-repeat: no-repeat;
    background-size: auto 272px;
    font-size: 48px;
    font-weight: 700;
    width: 85%;
    padding-left: 5%;
    padding-top: 0.5%;
}

.main {
    padding: 0 80px;
}

.card {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    overflow: hidden;
    padding-bottom: 40px;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
}

.card__margin {
    margin: 0 4.5%;
}

.card__image {
    width: 100%;
}

.card__title {
    color: #1E8DF2;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    box-sizing: border-box;
}

.card__content {
    color: #E8C23E;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.center_text {
    text-align: center;
}

.center_element {
    margin: 20px auto;
}

.link {
    border-width: 4px;
    border-color: white;
    border-style: solid;
    width: 591px;
    height: 121px;
    padding: 10px 92px;
    box-sizing: border-box;
    display: block;
    background: #2A61F0;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 64px;
}

.footer {
    text-align: center;
    height: 320px;
    background: #2F4A4B;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 48px;
    letter-spacing: 0.1em;
}

.footer_text {
    font-family: 'Marcellus SC', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    color: #A89D9D;
    padding: 20px;
}